exportPattern("^[[:alpha:]]+")


importFrom("stats", "cov", "dist", "dnorm", "optim", "pnorm",
             "rnorm","runif")

importFrom("utils", "combn","tail")

importFrom("MASS", "polr")


importFrom("pbivnorm", "pbivnorm")

import("ttutils")

importFrom("rootSolve", "multiroot")

importFrom("foreach", "foreach", "%dopar%")

importFrom("parallel", "detectCores", "makeCluster","stopCluster")

importFrom("doParallel", "registerDoParallel")
